.wrapper {
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
  //width: 500px;
  height: 200px;
  overflow: hidden;
  border-radius: var(--br-30);
  cursor: pointer;
  //@media (max-width: 760px) {
  //  box-shadow: var(--box-shadow-small);
  //}
}

.label {
  background-color: var(--bg-color);
  //box-shadow: var(--box-shadow);
  width: 25px;
  height: 25px;
  border-radius: var(--br-50);
}
